<footer>
    <!-- <div class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                </div>
                <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                    <div style="font-weight:bold;color:#99ccff;font-size:10pt;margin-top:15px">Links</div>
                    <a href="https://careydevelopment.us" style="color:#e6e6e6">Happy Money LLC</a><br/>
                </div>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div> -->
    

</footer>