<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>

<body class="page-container-bg-solid" id="loadPage">
<div th:include="fragments/topmenuheader :: header"></div>
  <div class="container-fluid page-body-wrapper">
    <div class= "row" style="margin: 0.5%; padding: 0.1%;">
        <div class="form-group" >
            <label for="fromdt">From</label>
                <input id="fromdt" type="datetime-local"  />
            <label for="myCheck"></label>
                <input id="myCheck" type="checkbox" />
            <label for="todt">To</label>
                <input id="todt" type="datetime-local" />

            <a id="myLink" title="Search loan journey for the selected time frame"
            href="#" onclick="loadPage()"><i class="bi bi-search" style="padding-left: 0.5%;"></i></a>



            <div class="form-check form-switch" style="float: right;">
                <input type="checkbox" id="newCustomers" class="form-check-input">

            </div>
            <label for="newCustomers" style="float: right; margin-right: 0.5%; ">New Customers</label>

            <div class="form-check form-switch" style="float: right;">
                <!-- <input class="form-check-input" type="checkbox" id="reloadCB" /> -->
                <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB" class="form-check-input">

            </div>
            <label for="reloadCB" style="float: right; margin-right: 0.5%; ">Reload</label>
        </div>
    </div>  
    
    <div class="row">
        <div class="col-md-12 mb-3" style="height: 60%;">
            <div class="card h-100">
                <div class="card-header">
                    <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                    Loan Journey<span class="me-2"><i class="bi bi-info-circle-fill" style="padding-left: 0.5%;" title="Displays bar graph of all the leads landing on each funnel page over a selected time slot"></i></span>
                </div>
                <div class="card-body">
                    <div id="salesByType" style="width:100%; height:100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tablecontent" style="display:none">
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-header">
              <span id="tablename"><i class="bi bi-table me-2"></i></span> 
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                id="example"
                class="table table-striped data-table"
                style="width: 100%">
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-6 mb-3">
            <iframe src="" name="myFrame"></iframe>
        </div> -->

      </div>
      
    </div>
     



<!-- <div th:include="fragments/homefooter :: footer"></div>s -->
<script th:inline="javascript">
        /*<![CDATA[*/

            var totime = new Date([[${todt}]]);
            var fromtime = new Date([[${fromdt}]]);
            totime.setMinutes(totime.getMinutes() - totime.getTimezoneOffset());
            fromtime.setMinutes(fromtime.getMinutes() - fromtime.getTimezoneOffset());
            document.getElementById('fromdt').value = fromtime.toISOString().slice(0,16);
            document.getElementById('todt').value = totime.toISOString().slice(0,16);   
            var reloadCheckVal = [[${reloadCheck}]];
            document.getElementById('reloadCB').checked = reloadCheckVal;
            var newCustomersVal = [[${newCustomers}]];
            document.getElementById('newCustomers').checked = newCustomersVal;
            
            var dash = document.querySelector('#dashboard');
            dash.classList.add('active');
            var userJ = document.querySelector("#userJourney");
            userJ.classList.remove('active');

            var reloading;

            function checkReloading() {
                if (window.location.hash=="#autoreload") {
                    alert("checkReloading");
                    reloading=setInterval(loadPage, 180000);
                    document.getElementById("reloadCB").checked=true;
                }
            }

            function toggleAutoRefresh(cb) {
                alert("toggleAutoRefresh");
                if (cb.checked) {
                    window.location.replace("#autoreload");
                    reloading=setInterval(loadPage, 180000);
                } else {
                    window.location.replace("#");
                    clearInterval(reloading);
                }
            }

            
            window.onload=checkReloading;


            function loadPage(){ 
                var oldWord = "T";
                var fromdate = new Date(document.getElementById('fromdt').value);
                var todate = new Date(document.getElementById('todt').value);

                var reloadCheckbox = document.getElementById('reloadCB');
                var newCustomers = document.getElementById('newCustomers');

                if(fromdate>todate){
                    alert("Please select proper from and to date");
                }else{
                    $.ajax({
                        type : "GET",
                        url : "chart?fromdt="+Date.parse(fromdate)+"&todt="+Date.parse(todate)+"&reloadCheck="+reloadCheckbox.checked+"&newCustomers="+newCustomers.checked,
                        contentType: "application/json",
                        dataType: "html",
                        success: function(data) {     
                            $("body").html(data);
                        }
                    });
                }

            }

            var yourCheckbox = document.querySelector('#myCheck');
            var yourDateField = document.querySelector('#todt');
            var reloadField = document.getElementById('reloadCB');
            var newCustomers = document.getElementById('newCustomers');

            // This function will update the date field's enabled/disabled
            // attribute, depending on if the yourCheckbox is checked
            function updateYourDateField() {
                    
                    if(yourCheckbox.checked) {
                        reloadField.checked=false;
                        reloadField.disabled = true;
                        yourDateField.disabled = false;
                    }
                    else {
                        reloadField.disabled = false;
                        yourDateField.disabled = true;
                    }
            }
            
            // Add an event listener to the change event, that causes
            // the date field to be enabled/disabled when ever the checkbox
            // is clicked and the value changes
            yourCheckbox.addEventListener('change', function() {
                updateYourDateField();
            })

            newCustomers.addEventListener('change', function() {
                if(newCustomers.checked){
                    loadPage();
                }
            })
 
            // Call this to ensure your date field is in correct state
            // when the script is first run
            updateYourDateField();

            $(function () {
                Highcharts.setOptions({
                    lang: {
                        decimalPoint: '.',
                        thousandsSep: ','
                    }
                });

                drawSalesByTypeChart();
            });

            // sconst charts = document.querySelectorAll(".chart");

            function tableFromJson(data, profilePage) {

                var tablecontent = document.getElementById("tablecontent");

                var fromdate = new Date(document.getElementById('fromdt').value);
                var todate = new Date(document.getElementById('todt').value);

                if (tablecontent.style.display === "none") {
                    tablecontent.style.display = "block";
                }

                var divShowData = document.getElementById('tablename');
                // var innerhtmlVal = divShowData.innerHTML.concat(profilePage);
                // alert(innerhtmlVal);
                divShowData.innerHTML='<span id="tablename"><i class="bi bi-table me-2"></i></span> '.concat(profilePage);
                
                // $("#example").dataTable().fnDestroy();
                var cols = [];

                for (var i = 0; i < data.length; i++) {
                    var datadoglink = ' <a href="/datadog?leaduid='+ data[i]['lead_guid']+'&errorlog=false&fromdt='+Date.parse(fromdate)+'&todt='+Date.parse(todate)  +'" target="_blank"" >DataDog logs for this lead</a><br> <a href="/datadog?leaduid='+ data[i]['lead_guid']+'&errorlog=true&fromdt='+Date.parse(fromdate)+'&todt='+Date.parse(todate)  +'" target="_blank"" >DataDog error logs for this lead</a>';
                    // if(!data[i]['member_id'] || /^\s*$/.test(data[i]['member_id'])){
                        
                    // }
                    var fullstorylink = ' <a href="/fullstory?leaduid='+ data[i]['lead_guid']  +'&memberid='+ data[i]['member_id']  +'&fromdt='+Date.parse(fromdate)+'&todt='+Date.parse(todate)+'" target="_blank"" >Latest FullStory session</a>';
                    var date = new Date(data[i]["eventTime"]);

                    data[i]["eventTime"] = date.toLocaleString("en-US", {timeZoneName: "short"})
                    data[i]["datadog link"] = datadoglink;
                    data[i]["fullstory link"] = fullstorylink;
                }
                
                var exampleRecord = data[0];
                
                //get keys in object. This will only work if your statement remains true that all objects have identical keys
                var keys = Object.keys(exampleRecord);
                
                //for each key, add a column definition
                keys.forEach(function(k) {
                    cols.push({
                    title: k,
                    data: k
                    //optionally do some type detection here for render function
                    });
                });
                
                //initialize DataTables
                var table = $('#example').DataTable({
                    destroy: true,
                    columns: cols
                });
                table.clear();
                
                //add data and draw
                table.rows.add(data).draw();
                
            }


            function drawSalesByTypeChart() {
                var simpleJsonObject =[[${simpleJsonObject}]];
                var salesByTypeChart = Highcharts.chart('salesByType', {
                    chart: {
                        type: 'column',
                        margin: 75,
                        height: 400,
                    },
                    title: {
                        text: ''
                    },
                  
                    plotOptions: {
                        series: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function () {
                                        tableFromJson(simpleJsonObject[this.category], this.category);
                                    }
                                }
                            }
                        }
                    },
                    xAxis: {
                        categories: [[${pageNames}]],

                        labels: {
                            formatter: function() {
                                var ret = this.value,
                                    len = ret.length;
                              
                              if( len > 10 ) {
                                ret = ret.slice(0,10) + '<br/>' + ret.slice(10, len);
                              }

                              if( len > 25 ) {
                                ret = ret.slice(0,25) + '...';
                              }
                            return ret;
                            }
                          },
                        tickmarkPlacement:'on',
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'number of Leads',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },

                    // series: [[${seriesDataArray}]],
                    series: [{
                        name: 'Funnel Landing Page',
                        data: [[${counterValue}]],
                        color: '#91E4A6',
                        states: {
                            select: {
                                color: '#449187'
                            }
                        },
                        allowPointSelect: true
                    }]



                });
            }

            /*]]>*/
        </script>

</body>
</html>