<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>

<body class="page-container-bg-solid" id="loadPage" >
    <div th:include="fragments/topmenuheader :: header"></div>
      <div class="container-fluid page-body-wrapper">
        <div class= "row">
            <div class="col-md-3 mb-3" style="height: 100%;">
                <div style="margin: 10px; width: 100%;">
                    <form id="search">
                        <div class="form-group">
                        <label for="leadId">Lead ID</label>
                        <input type="text" class="form-control" id="leadId" aria-describedby="leadIDHelp" placeholder="Enter lead ID" name="leadId">
                        
                        <small id="leadIDHelp" class="form-text text-muted">Please enter valid Lead ID</small>
                        </div>
                        <div class="form-group">
                       
                        <label for="fromdt">From</label>
                        <input type="datetime-local" class="form-control" id="fromdt" name="fromdt" >
                        <label for="todt">To</label>
                        <input type="datetime-local" class="form-control" id="todt" name="todt">
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                        <button type="search" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="row" >
            <div class="col-md-6 mb-3" id="journeyGraph" style="display: none;">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        User Journey
                    </div>
                    <div class="card-body">
                        <div id="container" style="width:100%; height:100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3"  id="intervalGraph" style="display: none;">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        User Interval Journey
                    </div>
                    <div class="card-body">
                        <div id="intervalcontainer" style="width:100%; height:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
        <div class="col-md-12 mb-3" id="tablecontent" style="display:none; margin-top: 2%;">
            <div class="card">
                <div class="card-header">
                    <span id="tableHeader"><i class="bi bi-table me-2"></i>Datadog Logs</span> 
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table
                                id="example"
                                class="table table-striped data-table"
                                style="width: 100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div></div>
        



<!-- <div th:include="fragments/homefooter :: footer"></div>s -->
<script th:inline="javascript">
    /*<![CDATA[*/
        var dash = document.querySelector('#dashboard');
        dash.classList.remove('active');
        var userJ = document.querySelector("#userJourney");
        userJ.classList.add('active');
        var normalJ = document.querySelector("#normalJourney");
        normalJ.classList.remove('active');
        var totime;
        var fromtime;
        var leadID;
        if ([[${todt}]] && [[${fromdt}]]){
            totime = new Date([[${todt}]]);
            fromtime = new Date([[${fromdt}]]);
            fromtime.setMinutes(fromtime.getMinutes() - fromtime.getTimezoneOffset());
            leadID = [[${leadId}]];
            document.getElementById('leadId').value = leadID;
            document.getElementById("journeyGraph").style.display="block";
            document.getElementById("intervalGraph").style.display="block";
            
        }else{
            totime = new Date();
            fromtime = new Date();
            fromtime.setMinutes(fromtime.getMinutes() - 60 - fromtime.getTimezoneOffset());
            document.getElementById("journeyGraph").style.display="none";
            document.getElementById("intervalGraph").style.display="none";
            
        }
        totime.setMinutes(totime.getMinutes() - totime.getTimezoneOffset());
        
        document.getElementById('fromdt').value = fromtime.toISOString().slice(0,16);
        document.getElementById('todt').value = totime.toISOString().slice(0,16);   


        $("#search").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            // var url = form.attr('action');

            var fromdate = new Date(document.getElementById('fromdt').value);
            var todate = new Date(document.getElementById('todt').value);
            var leadGUid = document.getElementById('leadId').value;

            if(leadGUid.length<36){
                alert("Please enter valid leadID");

                var graphDiv = document.getElementById("journeyGraph");
                if (graphDiv.style.display === "block") {
                    graphDiv.style.display = "none";
                }
                var intervalGraphDiv = document.getElementById("intervalGraph");
                if (intervalGraphDiv.style.display === "block") {
                    intervalGraphDiv.style.display = "none";
                }
                var tablecontent = document.getElementById("tablecontent");
                if (tablecontent.style.display === "block") {
                    tablecontent.style.display = "none";
                }

            }else{
                var splitName = leadGUid.split(",");
                if(fromdate>todate){
                    alert("Please select proper from and to date");
                }else if(splitName.length>5){
                    alert("Accepts max 5 leadIds");
                }else{
                    $.ajax({
                        type: "GET",
                        url: "getUserJourney?leadId="+leadGUid+"&fromdate="+Date.parse(fromdate)+"&todate="+Date.parse(todate),
                        dataType: "json",
                        success: function(data) {     

                            if(data["userJourneySeriesData"] && data["userJourneySeriesData"].length>0){
                                var graphDiv = document.getElementById("journeyGraph");
                                if (graphDiv.style.display === "none") {
                                    graphDiv.style.display = "block";
                                }
                                drawlineChart(data["userJourneySeriesData"], data["funnelPage"])
                            }

                            if(data["seriesArray"] && data["seriesArray"].length>0){
                                var intervalGraphDiv = document.getElementById("intervalGraph");
                                if (intervalGraphDiv.style.display === "none") {
                                    intervalGraphDiv.style.display = "block";
                                }
                                drawlineChartInterval(data["seriesArray"], data["funnelPage"], data["funnelPageValues"]);
                            }
                            
                            if(!(data["seriesArray"] && data["seriesArray"].length>0) || !(data["seriesArray"] && data["seriesArray"].length>0)){
                                alert("No User journey or User interval Journey data available. Please check the leadID or selected timeframe");
                            }

                            var tablecontent = document.getElementById("tablecontent");

                            if (tablecontent.style.display === "block") {
                                tablecontent.style.display = "none";
                            }
                            
                            
                        }
                        });
                }
            }


        });
        
        $(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: '.',
                    thousandsSep: ','
                }
            });
        });

        var clone_container = null;
        var clone_tooltip = null;
        var clone_interval_container = null;
        var clone_interval_tooltip = null;

        function hasClass(element,cls) {
            return element.classList.contains(cls);
        }

        function clean_tooltip() {
            if (clone_container) {  
                chart.container.firstChild.removeChild(clone_container);
                clone_container = null;
            }

            if (clone_tooltip) {
                chart.container.removeChild(clone_tooltip);
                clone_tooltip = null;
            }
        }

        function tableFromJson(data) {

            var tablecontent = document.getElementById("tablecontent");

            if (tablecontent.style.display === "none") {
                tablecontent.style.display = "block";
            }

            // $("#example").dataTable().fnDestroy();
            var cols = [];

            var exampleRecord = data[0];

            //get keys in object. This will only work if your statement remains true that all objects have identical keys
            var keys = Object.keys(exampleRecord);

            //for each key, add a column definition
            keys.forEach(function(k) {
                if(k ==="eventtime"){
                    cols.push({
                    title: k,
                    data: k,
                    "render": function (data) {
                        var d = new Date(data * 1000);
                        Date.shortMonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                        var day = ''+d.getUTCDate();
                        var minutes = ''+d.getUTCMinutes();
                        var hours = ''+d.getUTCHours();
                        var seconds = ''+d.getUTCSeconds();
                        var milliseconds = ''+d.getUTCMilliseconds();
                        if (day.length < 2) 
                            day = '0' + day;
                        if (minutes.length < 2) 
                            minutes = '0' + minutes;
                        if (hours.length < 2) 
                            hours = '0' + hours;
                        if (seconds.length < 2) 
                            seconds = '0' + seconds;
                        if (milliseconds.length == 1) 
                            milliseconds = '00' + milliseconds;
                        else if(milliseconds.length == 2) 
                            milliseconds = '0' + milliseconds;
                        return Date.shortMonths[d.getUTCMonth()]+' '+day+' '+hours+':'+minutes+':'+seconds+ '.'+milliseconds;
                        
                    }
                    //optionally do some type detection here for render function
                    });
                }else{
                    cols.push({
                    title: k,
                    data: k
                    //optionally do some type detection here for render function
                    });
                }
            });
            // alert(cols[0] +" "+ cols[1]);

            //initialize DataTables
            var table = $('#example').DataTable({
                destroy: true,
                columns: cols, 
                "scrollY": "500px",
                "scrollCollapse": true,
                // "pageLength": 100
                "paging": false
                
            });
            table.clear();

            //add data and draw
            table.rows.add(data).draw();

        }

        function getDatadogLogs(leadIDVal, xVal, previoustimestamp, errorLog){
            var fromdate = new Date(document.getElementById('fromdt').value);
            var todate = new Date(document.getElementById('todt').value);
            if(previoustimestamp===xVal){
                previoustimestamp = Date.parse(fromdate);
            }
            $.ajax({
                    type: "GET",
                    // url: 'datadogLogs?leaduid='+ leadIDVal+'&errorlog=false&fromdt='+Date.parse(fromdate)+'&todt='+Date.parse(todate),
                    url: 'datadogLogs?leaduid='+ leadIDVal+'&errorlog='+errorLog+'&fromdt='+previoustimestamp+'&todt='+xVal,
                    dataType: "json",
                    success: function(data) {
                            if ((data === undefined) || (data === null) || data.length==0) {
                                var removeDatatable = document.getElementById("tablecontent");

                                if (removeDatatable.style.display === "block") {
                                    removeDatatable.style.display = "none";
                                }
                                alert("No datadog logs available");
                            }else{
                                tableFromJson(data);
                            }
                        }
                        
            });
        }

        function drawlineChart(seriesData, funnelPage) {
            var page = funnelPage;
            chart = Highcharts.chart('container', {
                chart:{
                    type: 'scatter',
                    zoomType: 'xy'
                    // events: {
                    //     click: function(event) {
                    //         clean_tooltip();
                    //     }
                    // }
                },
                title: {
                        text: ''
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(255,255,255)'
                                        }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            }
                    }

                },

                xAxis: {
                    type: 'datetime',
                        labels: {
                            step: 2,
                            rotation: -45,
                            formatter: function() {
                                    return Highcharts.dateFormat('%d %b %y  <br/> %H:%M ', this.value);
                            }
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true,
                },
                tooltip: {
                    stickOnContact: true,
                    hideDelay: 3000,
                    useHTML: true,
                    style: {
                        pointerEvents: 'auto'
                    },
                    formatter: function() {
                        var fromdate = new Date(document.getElementById('fromdt').value);
                        var todate = new Date(document.getElementById('todt').value);
                        day = new Date(this.x);
                        let series_name = `<b>${this.series.name}</b>`;
                        var leadHashIDData = this.series.name;
                        let leadHashID=leadHashIDData;
                        let points = `${page[this.y]}`;
                        let total = `${series_name}<br>${points}`;
                        return total;
                    },
                },
                yAxis: {
                    title: {
                        text: 'Funnel Page'
                    },
                    categories: funnelPage
                },
                series: seriesData
            });
        }

        


        function drawlineChartInterval(seriesData, funnelPage, funnelmapping) {
            var page = funnelPage;
            intervalchart = Highcharts.chart('intervalcontainer', {
                chart:{
                    type: 'scatter',
                    zoomType: 'xy'
                },
                title: {
                        text: ''
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(255,255,255)'
                                        }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            }
                    },
                    series: {
                        stickyTracking: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            formatter: function() {
                                var xVal = this.x;
                                var yVal = this.y;
                                var seriesData = this.series.name
                                var pageName = funnelmapping[seriesData][yVal][xVal];
                                let pageNameVal = pageName["pageName"];
                                return pageNameVal;
                            }
                        }
                    }
                    
                },

                xAxis: {
                    type: 'datetime',
                        labels: {
                            step: 2,
                            rotation: -45,
                            formatter: function() {
                                    return Highcharts.dateFormat('%d %b %y  <br/> %H:%M ', this.value);
                            }
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true,
                },
                tooltip: {
                    stickOnContact: true,
                    hideDelay: 3000,
                    useHTML: true,
                    style: {
                        pointerEvents: 'auto'
                    },
                    formatter: function() {
                        var fromdate = new Date(document.getElementById('fromdt').value);
                        var todate = new Date(document.getElementById('todt').value);
                        day = new Date(this.x);
                        var xVal = this.x;
                        var yVal = this.y;

                        let series_name = `lead_ID: <b>${this.series.name}</b>`;
                        var leadHashIDData = this.series.name;
                        let leadHashID=leadHashIDData;
                        let xValue = xVal;
                        let ytooltip = `TimeElapsed: <b>${yVal}</b> seconds`;
                        var seriesData = this.series.name
                        var pageName = funnelmapping[seriesData][yVal][xVal];
                        let pageNameVal = pageName["pageName"];
                        let previoustimestamp = pageName["previousTimeStamp"];
                        let points = `${pageNameVal}`;
                        let errorLog = false;

                        let link = ' <a href="javascript:getDatadogLogs(\''+leadHashID+'\',\''+xValue+'\',\''+previoustimestamp+'\',\''+errorLog+'\');" >Datadog Logs</a>';
                        
                        errorLog = true;
                        let errorlink = ' <a href="javascript:getDatadogLogs(\''+leadHashID+'\',\''+xValue+'\',\''+previoustimestamp+'\',\''+errorLog+'\');" >Datadog Error Logs</a>';
                        
                        let total = `${ytooltip}<br>${points}<br>${link}<br>${errorlink}`;
                        return total;
                    },
                },
                yAxis: {
                    title: {
                        text: 'Page Transition Time (seconds)'
                    }
                    // categories: funnelPage
                },
                series: seriesData
            });
        }

        /*]]>*/
    </script>


</body>
</html>
