<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>

<body class="page-container-bg-solid" id="loadPage">
    <div th:include="fragments/topmenuheader :: header"></div>
      <div class="container-fluid page-body-wrapper">
        <div class= "row">
            <div class="col-md-6 mb-3" style="height: 60%;">
                <div style="margin: 10px; width: 100%;">
                    <form action="/getUserJourney">
                        <div class="form-group">
                        <label for="leadId">Lead ID</label>
                        <input type="text" class="form-control" id="leadId" aria-describedby="leadIDHelp" placeholder="Enter lead ID" name="leadId">
                        
                        <small id="leadIDHelp" class="form-text text-muted">Please enter valid Lead ID</small>
                        </div>
                        <div class="form-group">
                       
                        <label for="fromdt">From</label>
                        <input type="datetime-local" class="form-control" id="fromdt" name="fromdt" >
                        <label for="todt">To</label>
                        <input type="datetime-local" class="form-control" id="todt" name="todt">
                        </div>
                       
                        <button type="search" class="btn btn-primary">Search</button>
                    </form>
                    </div>
                    </div>
        </div>
        <div class="row" id="userJourneyGraph" style="display: none;">
            <div class="col-md-12 mb-3" style="height: 60%;">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Funnel page
                    </div>
                    <div class="card-body">
                        <div id="container" style="width:100%; height:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        </div></div>
        



<!-- <div th:include="fragments/homefooter :: footer"></div>s -->
<script th:inline="javascript">
    /*<![CDATA[*/
        var totime;
        var fromtime;
        var leadID;
        if ([[${todt}]] && [[${fromdt}]]){
            totime = new Date([[${todt}]]);
            fromtime = new Date([[${fromdt}]]);
            fromtime.setMinutes(fromtime.getMinutes() - fromtime.getTimezoneOffset());
            leadID = [[${leadId}]];
            document.getElementById('leadId').value = leadID;
            document.getElementById("userJourneyGraph").style.display="block";
        }else{
            totime = new Date();
            fromtime = new Date();
            fromtime.setMinutes(fromtime.getMinutes() - 60 - fromtime.getTimezoneOffset());
            document.getElementById("userJourneyGraph").style.display="none";
            
        }
        totime.setMinutes(totime.getMinutes() - totime.getTimezoneOffset());
        
        document.getElementById('fromdt').value = fromtime.toISOString().slice(0,16);
        document.getElementById('todt').value = totime.toISOString().slice(0,16);   
        

        $(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: '.',
                    thousandsSep: ','
                }
            });

            drawlineChart();
        });


        function drawlineChart() {
            alert(Date.UTC(2007, 5, 01));
            // var simpleJsonObject =[[${simpleJsonObject}]];
            var userJourneyLineChart = Highcharts.chart('container', {
                chart: {
                
                    type: 'line',
                    inverted: true
                },
                
                xAxis: {
                    categories: [[${funnelPage}]]
                // categories: ['PlaidNoAuth', 'ContactUs', 'Review', 'Autopay', 'KBA Failed', 'KBA', 'Experian Credit Freeze', 'AdverseAction', 'E-Sign Complete', 'Truth In Lending Statement', 'Partner Lending Page', 'Offer Review', 'Verification Documents', 'BankAccount', 'DCP', 'Employment', 'Offer', 'Balance', 'Account', 'HousingPayment', 'Income', 'Phone', 'Address', 'Birthday', 'Name']
                // categories: ["Name","Birthday","Address","Phone","Income","HousingPayment","Account","Balance","Offer","Employment","DCP","BankAccount","Verification Documents","Offer Review","Partner Lending Page","Truth In Lending Statement","E-Sign Complete","AdverseAction","Experian Credit Freeze","KBA","KBA Failed","Autopay","Review","ContactUs","PlaidNoAuth"]
            },
            tooltip: {
                formatter: function() {
                    var chart = Highcharts.charts[0],
                        weekdays = chart.options.lang.weekdays,
                        day = new Date(this.y).toLocaleString("en-US", {timeZoneName: "short"});

                    return day + ': ' + this.x;
                }
            },
                yAxis: {
                    // type: 'datetime',
                    // //tickInterval: 24 * 3600 * 1000, // one day
                    // labels: {
                    //     rotation: -45,
                    //     style: {
                    //         fontSize: '9px',
                    //         fontFamily: 'Verdana, sans-serif'
                    //     }
                    // },
                    // crosshair: true,
                    // dateTimeLabelFormats: {
                    //     second: '%d %b %y <br/> %H:%M %P',
                    // }

                    type: 'datetime',
                    labels: {
                        rotation: -45,
                        formatter: function() {
                                return Highcharts.dateFormat('%d %b %y  <br/> %H:%M ', this.value);
                        }
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true,
              
                },

                series: [[${seriesArray}]]

            });

        }

        /*]]>*/
    </script>


</body>
</html>
