<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>

<body class="page-container-bg-solid" id="loadPage" >
    <div th:include="fragments/topmenuheader :: header"></div>
      <div class="container-fluid page-body-wrapper">
        <div class= "row">
            <div class="col-md-6 mb-3" style="height: 60%;">
                <div style="margin: 10px; width: 100%;">
                    <form id="search">
                        <div class="form-group">
                        <label for="leadId">Lead ID</label>
                        <input type="text" class="form-control" id="leadId" aria-describedby="leadIDHelp" placeholder="Enter lead ID" name="leadId">
                        
                        <small id="leadIDHelp" class="form-text text-muted">Please enter valid Lead ID</small>
                        </div>
                        <div class="form-group">
                       
                        <label for="fromdt">From</label>
                        <input type="datetime-local" class="form-control" id="fromdt" name="fromdt" >
                        <label for="todt">To</label>
                        <input type="datetime-local" class="form-control" id="todt" name="todt">
                        </div>
                       
                        <button type="search" class="btn btn-primary">Search</button>
                    </form>
                    </div>
                    </div>
        </div>
        <div class="row" id="userJourneyGraph" style="display: none;">
            <div class="col-md-12 mb-3" style="height: 60%;">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        User Journey
                    </div>
                    <div class="card-body">
                        <div id="container" style="width:100%; height:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        </div></div>
        



<!-- <div th:include="fragments/homefooter :: footer"></div>s -->
<script th:inline="javascript">
    /*<![CDATA[*/
        var dash = document.querySelector('#dashboard');
        dash.classList.remove('active');
        var userJ = document.querySelector("#userJourney");
        userJ.classList.add('active');
        var normalJ = document.querySelector("#normalJourney");
        normalJ.classList.remove('active');
        var totime;
        var fromtime;
        var leadID;
        if ([[${todt}]] && [[${fromdt}]]){
            totime = new Date([[${todt}]]);
            fromtime = new Date([[${fromdt}]]);
            fromtime.setMinutes(fromtime.getMinutes() - fromtime.getTimezoneOffset());
            leadID = [[${leadId}]];
            document.getElementById('leadId').value = leadID;
            document.getElementById("userJourneyGraph").style.display="block";
        }else{
            totime = new Date();
            fromtime = new Date();
            fromtime.setMinutes(fromtime.getMinutes() - 60 - fromtime.getTimezoneOffset());
            document.getElementById("userJourneyGraph").style.display="none";
            
        }
        totime.setMinutes(totime.getMinutes() - totime.getTimezoneOffset());
        
        document.getElementById('fromdt').value = fromtime.toISOString().slice(0,16);
        document.getElementById('todt').value = totime.toISOString().slice(0,16);   


        $("#search").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            // var url = form.attr('action');

            var fromdate = new Date(document.getElementById('fromdt').value);
            var todate = new Date(document.getElementById('todt').value);
            var leadGUid = document.getElementById('leadId').value;

            var splitName = leadGUid.split(",");
            if(fromdate>todate){
                alert("Please select proper from and to date");
            }else if(splitName.length>5){
                alert("Accepts max 5 leadIds");
            }else{
                $.ajax({
                    type: "GET",
                    url: "getUserJourney?leadId="+leadGUid+"&fromdate="+Date.parse(fromdate)+"&todate="+Date.parse(todate),
                    dataType: "json",
                    success: function(data) {     
                        var graphDiv = document.getElementById("userJourneyGraph");
                        if (graphDiv.style.display === "none") {
                            graphDiv.style.display = "block";
                        }
                        drawlineChart(data["seriesArray"], data["funnelPage"]);
                    }
                    });
            }


        });
        
        $(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: '.',
                    thousandsSep: ','
                }
            });
        });

        var clone_container = null;
        var clone_tooltip = null;

        function hasClass(element,cls) {
            return element.classList.contains(cls);
        }

        function clean_tooltip() {
            if (clone_container) {  chart.container.firstChild.removeChild(clone_container);
                clone_container = null;
            }

            if (clone_tooltip) {
                chart.container.removeChild(clone_tooltip);
                clone_tooltip = null;
            }
        }

        function drawlineChart(seriesData, funnelPage) {
            var page = funnelPage;
            chart = Highcharts.chart('container', {
                chart:{
                    type: 'scatter',
                    zoomType: 'xy',
                    events: {
                        click: function(event) {
                            clean_tooltip();
                        }
                    }
                },
                title: {
                        text: ''
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(255,255,255)'
                                        }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            }
                    },
                    series: {
                        stickyTracking: false,
                        cursor: 'pointer',
                        point: {
                            events: {
                            click: function () {
                                clean_tooltip();
                                
                                var hc_tooltip = document.getElementsByClassName("highcharts-tooltip");
                                var orig_container = hc_tooltip[0];
                                var orig_tooltip = hc_tooltip[1];

                                clone_tooltip = orig_tooltip.cloneNode(true);
                                clone_tooltip.classList.remove("invisible");
                                clone_tooltip.classList.add("clone");

                                clone_container = this.series.chart.tooltip.label.element.cloneNode(true);
                                clone_container.classList.remove("invisible");
                                clone_container.classList.add("clone");

                                chart.container.firstChild.appendChild(clone_container);
                                chart.container.appendChild(clone_tooltip);
                            },
                            mouseOver: function() {
                                var orig_tooltip, orig_container;
                                var hc_tooltip = document.getElementsByClassName("highcharts-tooltip");

                                orig_container = hc_tooltip[0];
                                orig_tooltip = hc_tooltip[1];

                                if (orig_container && !hasClass(orig_container,"clone")){
                                orig_container.classList.add("invisible");
                                }

                                if (orig_tooltip && !hasClass(orig_tooltip,"clone")) {
                                orig_tooltip.classList.add("invisible");
                                }
                            }
                        
                            }
                        }
                    }
                },

                xAxis: {
                    type: 'datetime',
                        labels: {
                            step: 2,
                            rotation: -45,
                            formatter: function() {
                                    return Highcharts.dateFormat('%d %b %y  <br/> %H:%M ', this.value);
                            }
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true,
                },
                tooltip: {
                    stickOnContact: true,
                    hideDelay: 99999999,
                    useHTML: true,
                    style: {
                        pointerEvents: 'auto'
                    },
                    formatter: function() {
                        var fromdate = new Date(document.getElementById('fromdt').value);
                        var todate = new Date(document.getElementById('todt').value);
                        // var chart = Highcharts.charts[0],
                        // weekdays = chart.options.lang.weekdays,
                        day = new Date(this.x);
                        let series_name = `lead_ID: <b>${this.series.name}</b>`;
                        let points = `${day}, ${page[this.y]}`;
                        let link = ' <a href="/datadog?leaduid='+ this.series.name+'&errorlog=false&fromdt='+Date.parse(fromdate)+'&todt='+Date.parse(todate)  +'" target="_blank"" >Datadog Link</a>';
                        let total = `${points}<br>${link}<br>${series_name}`;
                        return total;
                    },
                },
                yAxis: {
                    title: {
                        text: 'Funnel Page'
                    },
                    categories: funnelPage
                },
                series: seriesData
            });
        }

        /*]]>*/
    </script>


</body>
</html>
